/*first navigation bar*/
.fnav{
	background: #000033 !important;
	height: 30px;
	 }
.fnav a{
	color: #b3cbcb !important;

}
/*vertical line in first navigation bar*/
.vl {
  border-left: 1px solid;
  border-color: #d1e0e0 !important;
  height: 30px;
}
/*button one on first nav*/
.b1{
	background-color: #ff5c33 !important;
    color: #fff;
  border-color:#000033 !important ;

}
/*button two on first nav*/
.b2{
	background-color: #00004d !important;
	 color: #fff;
  border-color:#000033 !important ;
}
/*second navigation bar*/
.snav{
	background-color: #fff !important;
height: 90px;
}
.navbar-collapse a{
color: #000 !important;
}
.navbar-brand{
    color:black !important;
}
/*third navigation bar*/
.tnav{
	height: 65px;
	background: #000033 !important;
}
.form-inline .form-control{
    width: 500px;
    height: 45px;
  }

/*css for footer */
 #myFooter {
    background-color: #000033;
    color: white;
    /*padding-top: 30px;*/
    width: -webkit-fill-available;
    /*margin-top: 30px;*/
}

#myFooter .footer-copyright {
    background-color: #000 !important;
    padding-top: 1px;
    padding-bottom:1px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 20px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 1px;
    color: #fff !important;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}
body{
	
overflow-x: hidden;
}

@media screen and (max-width: 400px) {
    #myFooter {
        text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

/*html{
    height: 10px;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 10px;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 10px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
*/
/* carousel*/
.carousel-inner > .carousel-item > img {
width:100%;
height:450px;
}
/*.abc{
width: 22px;
height: 22px;
}*/
.carousel-caption{
top: 120px;
}
.slider_img {
opacity: 0.9;
filter: alpha(opacity=80);
}
.carousel-indicators{
    top: 420px;
}
/*carousel caption color*/
#tw {
  color: #ff5c33 !important;
}
/*news and announcment*/
.scroll {
    max-height: 300px;
    overflow-y: auto;
}


/*Discover more css*/
/*Discover more image title*/
.img-title{
    position: absolute;
     top: 40%;
     left: 0;
     right: 0;
     text-align: center;
     transform: translateY(-50%);
     font-size: 18px;
     font-weight: 600;
     color: #fff;
     z-index: 1;
 
}
/*discover more whole block*/
.dis-block{
     margin-bottom: 30px;
     border-radius: 3px;
    }

/*discover more image*/
.dis-img{
    filter:brightness(.5);
    -webkit-transform: scale(1);
     transform: scale(1);
     -webkit-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
    }
/*discover more on hover optioons*/
.dis-block:hover .dis-img{

 -webkit-transform: scale(1.1);
     transform: scale(1.1);
     
    }

.card{
  border: 0px !important;
  border-color: white !important;
  border-radius: 0rem;
  padding-right: 30px;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
/*image with date*/

.card-pic{
    width: 100%;
    height: 10vw !important;
    object-fit: cover;
    filter: brightness(.7);
}
/*text over image on cards*/
.news-img{
    position: absolute;
     top: 10%;
     left:15px;
     right:0;
     text-align: left;
     transform: translateY(-50%);
     font-size: 18px;
     font-weight: 600;
     color: #ccc;
     z-index: 1;
 }
/*block for dates with images column*/
.date-blk {
  border-radius: 3px;
    display: inline-block;
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 0;
    margin-right: 20px;
    text-transform: uppercase;
    width: 90%;
    height: 95%;
    background: #02294e;
    background: -webkit-linear-gradient(to top, #012951, #03294e);
    background: linear-gradient(to top, #012951, #03294e);
}
.date-blk span:first-child{
    display: block;
    font-size: 25px;
    font-weight: 300;
    margin-top: 0px;
    line-height: 25px;
    color: #fff;
}
.date-blk span:last-child{
    font-size: 15px;
    color: #fff;
}
/*last link of tpo website*/
.last-link{
 background-color: #f36b3b ;
 height: inherit;
 position: relative;
color: #fff !important;
}
.btn-tpo{
  background-color: #f36b3b !important;
    color: #fff;
  border-color:#fff !important ;
  border-radius: 12px;
}
.btn-tpo:hover{
  color: #fff;
}
.txt-tpo{
  margin-top: 15px;
}

/*photo gallery images*/
.abc{
    margin-bottom: 50px;
  }
.photo-gal{
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-top: 1px;
  margin-bottom: 1px; 
}
.pht{
  margin-bottom: -30px;
}
/*.gal{
  margin-bottom: 30px;
}*/